* {
    margin: 0;
    font-family: Work Sans;
}

.banner {
    background-image: url('images/banner/banner3.png');
    width: 1600px;
    height: 808px;
    text-align: right;
}

.banner-title {
    padding: 216px 230px 24px 845px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.banner-description {
    font-size: 16px;
    color: #FFFFFF;
    padding: 0 230px 32px 876px;
}

.btn-primary {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    color: #005FAC;
    margin-right: 230px;
}

/* failures Section styles */

.failure {
    display: flex;
    justify-content: space-around;
    text-align: left;

}

.failure-person {
    margin: 135px 87px 125px 205px;
}

.failure-content {
    margin: 370px 220px 210px 0;
}

.failure-title {
    font-weight: 900;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.failure-description {
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}

.failure-list p {
    margin-bottom: 8px;
}

/* Plans Section Styles */

.plans-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 30px;
}

.plans-description {
    text-align: center;
    margin: 0 230px;
    margin-bottom: 50px;
}

.plans-skill-container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    margin: 0 230px;
}

.plans-skill-container img {
    display: block;
    margin: 0 auto 24px;
}

.plans-skill-title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 16px;
}

.plans-skill-description {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #737272;

}

/* watch section styles */

.watch {
    width: 1140px;
    height: 300px;
    margin: 130px 230px;
    background-image: url(images/gradient1.png), url('images/watch.png')
}

.watch-title {
    width: 460px;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding-top: 60px;
    padding-left: 65px;
}

.watch .btn-primary {
    margin-top: 24px;
    margin-left: 65px;
}

/* future section styles */

.footer {
    width: 1600px;
    height: 577px;
    background: #151414;
    display: flex;
    /* gap: 450px; */
}

.future {
    margin: 130px 230px;
    width: 485px;
    height: 317px;
}

.future-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 17px;
}

.future-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 23px;
}

.future .email {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.future .phone {
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.subscribe {
    margin: 130px 230px;
}

.subscribe h4 {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.subscribe input {
    margin-bottom: 24px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 18px 30px;
    width: 70%;
    background-color: #151414;

}

.sub-btn {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 25px;
    color: #FFFFFF;
    margin-right: 230px;
    background-color: #005FAC;
}
    /* end of the styles */
    /*      Thank You     */